<div class="input-group mb-3">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="type your Number" [ngClass]="{ 'is-invalid': inputControl.invalid }" [formControl]="inputControl">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="cleanInput()">Reset</button>
    </div>
    <div class="error-message" [ngClass]="{ 'invalid-feedback': inputControl.invalid }" *ngIf="inputControl.invalid">
      Value that you entered is not a number!
    </div>
  </div>
</div>
