<div class="input-group mb-3">
  <div class="input-group">
    <input type="text" class="form-control" [ngClass]="{'is-invalid': incorrectValueValidation}" [(ngModel)]="value" placeholder="type your Number">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="sendData()"  type="button">Reset</button>
    </div>
    <div class="error-message" [ngClass]="{'invalid-feedback': incorrectValueValidation}" *ngIf="incorrectValueValidation">
      Value that you entered is not a number!
    </div>
  </div>
</div>
