<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Multiply</h5>
    <p class="card-text">
      Multiplication combines two numbers into a single number, the product...
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Multiplicand: </b>
      [computed value here]
    </li>
    <li class="list-group-item">
      <b>Multiplier: </b>
      [computed value here]
    </li>
    <li class="list-group-item">
      <b>Factor: </b>
      [computed value here]
    </li>
  </ul>
</div>