<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Pow</h5>
    <p class="card-text">
        Exponentiation is a mathematical operation, written as <i>b^n</i>
    </p>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>base: </b>
        [computed value here]
      </li>
      <li class="list-group-item">
        <b>exponent: </b>
        [computed value here]
      </li>
      <li class="list-group-item">
        <b>power:</b>
        [computed value here]
      </li>
    </ul>
</div>
